* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

hr {
    margin: 0%;
    height: 10px;
    background-color: rgb(50, 50, 50);
    border: 0px;
}

.container {
    width: 90%;
    margin: auto;
}

.main {
    background-image: linear-gradient(180deg,
            rgba(1, 1, 1, 1) 0%,
            rgba(0, 0, 0, 0) 50%,
            rgba(1, 1, 1, 1) 100%),
        url("../img/background.jpg");
    background-position: center center;
    background-size: cover;
}

header {
    padding: 30px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logotipo {
    font-family: 'Bebas Neue', cursive;
    font-weight: normal;
    color: #E50914;
    font-size: 40px;
}

select {
    padding: 7px 1px 7px 15px;
    border: 1.5px solid #f3f3f3;
    border-radius: 3px;
    background-image: url(../img/globe.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 17px;
    background-color: black;
    color: #f3f3f3;
    font-size: 16px;
}

option {
    background-color: gray;
}

nav button {
    color: #f3f3f3;
    font-size: 16px;
    background-color: #E50914;
    padding: 8px 17px;
    border: 1.5px solid black;
    border-radius: 5px;
    margin-left: 25px;
}

.peliculas {
    color: #f3f3f3;
    text-align: center;
}

.peliculas h1 {
    display: block;
    max-width: 640px;
    font-size: 3em;
    font-weight: bold;
    margin: 0px auto;
    margin-top: 120px;
}

.peliculas h2 {
    display: block;
    font-size: 1.5em;
    font-weight: 400px;
    margin: 16px 150px;
}

.peliculas h3 {
    display: block;
    font-size: 1.2em;
    font-weight: 400px;
    margin: 16px 150px;
}

.comenzar {
    display: inline-flex;
}

.comenzar input {
    min-width: 450px;
    height: 60px;
}

::placeholder {
    padding-left: 10px;
    font-size: 16px;
}

.comenzar button {
    font-size: 1.625em;
    color: #f3f3f3;
    background-color: #db0510;
    height: 60px;
    padding: 0px 26px;
    margin-bottom: 120px;
}

.comenzar button:hover {
    background-color: #E50914;
}

/*----------Tv Section---------*/
.tv {
    background-color: black;
    display: flex;
    align-items: center;
}

.tv .disfruta {
    color: #f3f3f3;
    margin: 3rem 3rem;
}

.tv h1 {
    font-size: 3em;
}

.tv h2 {
    font-size: 1.6em;
    font-weight: 400;
}

.tv img {
    max-width: 50%;
    margin: 3rem 3rem;
}

/*----------Series Section---------*/
.series {
    background-color: black;
    display: flex;
    align-items: center;
}

.series img {
    max-width: 50%;
    margin: 3rem 3rem 3rem 0rem;
}

.series .descarga {
    color: #f3f3f3;
    margin: 3rem 3rem;
}

.series h1 {
    font-size: 3em;
}

.series h2 {
    font-size: 1.6em;
    font-weight: 400;
}

/*----------Dispositivos Section---------*/
.dispositivos {
    background-color: black;
    display: flex;
    align-items: center;
}

.dispositivos .devices {
    color: #f3f3f3;
    margin: 3rem 3rem;
}

.dispositivos h1 {
    font-size: 3em;
}

.dispositivos h2 {
    font-size: 1.6em;
    font-weight: 400;
}

.dispositivos img {
    max-width: 50%;
    margin: 3rem 3rem;
}

/*----------Perfiles Section---------*/
.perfiles {
    background-color: black;
    display: flex;
    align-items: center;
}

.perfiles img {
    max-width: 50%;
    margin: 3rem 3rem 3rem 0rem;
}

.perfiles .crea {
    color: #f3f3f3;
    margin: 3rem 3rem;
}

.perfiles h1 {
    font-size: 3em;
}

.perfiles h2 {
    font-size: 1.6em;
    font-weight: 400;
}

/*----------Preguntas Section---------*/
.preguntas {
    background-color: black;
    color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.preguntas h1 {
    font-size: 3rem;
    margin: 35px auto;
}

.cards {
    width: 58%;
    margin: auto;
    background-color: #303030;
}

details summary::-webkit-details-marker {
    display: none;
}

details summary {
    width: 100%;
    padding: 10px 30px;
    border-top: 3px solid black;
    position: relative;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 300;
    list-style: none;
}

details summary:after {
    content: "+";
    color: #f3f3f3;
    position: absolute;
    font-size: 1.75rem;
    line-height: 0;
    margin-top: 0.75rem;
    right: 30px;
    font-weight: 200;
    transform-origin: center;
    transition: 200ms linear;
}

details[open] summary:after {
    transform: rotate(45deg);
    font-size: 2rem;
}

details p {
    font-size: 1.5rem;
    margin: 10px 30px;
    padding-top: 1rem;
}

.preguntas h3 {
    font-size: 1.2rem;
    font-weight: 400px;
    margin: 2em 2em 1em;
}

/*----------Footer Section---------*/
footer {
    background-color: black;
}

.foot {
    margin: 0px 125px;
    padding: 45px 0px;
}

footer p {
    color: #757575;
    font-size: 16px;
    margin-bottom: 30px;
}

footer ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

footer li {
    display: block;
    min-width: 25%;
}

footer a {
    color: #757575;
    text-decoration: none;
    font-size: 13px;
}

footer a:hover {
    text-decoration: underline;
}

.netflix {
    margin-top: 25px;
    font-size: 13px;
}